__pycache__/
*.pyc
tests_local/
logs/
docs/
.MLE/
.pytest_cache/
/runs/
*.tex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.toc
*.pdf
*.zip
references.bib
watch_latex.sh
bomberman_report_overleaf/
README.md
screenshots/
results/q_agent_hybrid/hybrid/runs/rerun_logs/
